#
# Configuration file for camera ${installable.customizationpoints.name.value}
#

name         = ${installable.customizationpoints.name.value}
url          = ${installable.customizationpoints.url.value}
periodmillis = ${installable.customizationpoints.periodmillis.value}
loopminutes  = ${installable.customizationpoints.loopminutes.value}
directory    = ${appconfig.datadir}
